.description {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: auto;
    padding: 30px;
    gap: 25px;
    justify-content: center;    
}
.projects-item {
        width: 30vw;
        height: 50vh;
        scroll-snap-align: start;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
        transition: transform 0.3s, box-shadow 0.3s;
        background: var(--white);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
}
.projects-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
}
.btn-container {
    display: flex;align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.project-btn {
    width: 320px;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: #0059a4;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.project-btn:hover, .project-btn:focus {
        background-color: #003d73;
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(0, 89, 164, 0.3);
}
@media(max-width: 768px) {
    .projects-container  {
        grid-template-columns:1fr;
        gap: 15px;
    }
       .projects-item {
        width: 100%;
        margin: 15px 0;
        height: 48vh;
    }
}